# TFM - BID DATAFRAME SELECTION

## 1. INTRODUCTION

The aim of this Notebook is to create yearly dataframes for different units using the OMIE bid files stored locally on a monthly basis, (see **01_RawData_OMIE_merged_files.ipynb** of this TFM).

In [1]:
import pandas as pd
import numpy as np

## 2. DATAFRAME SELECTION FUNCTION

In this section, a function to select the information from the local .csv files is presented.

In [2]:
#Monthly files stored locally

### CHANGE PATH TO './RawData/OMIE/BIDS/CAB_DET_merged/' ###
cab_det_path = '/home/dsc/Documents/TFM/Data/OMIE/CAB_DET/'

In [3]:
#One year of data: from November 2019 to October 2020.
cab_det_list = !ls -1 $cab_det_path
cab_det_list

['OMIE_012020.csv',
 'OMIE_022020.csv',
 'OMIE_032020.csv',
 'OMIE_042020.csv',
 'OMIE_052020.csv',
 'OMIE_062020.csv',
 'OMIE_072020.csv',
 'OMIE_082020.csv',
 'OMIE_092020.csv',
 'OMIE_102020.csv',
 'OMIE_112019.csv',
 'OMIE_122019.csv']

First of all, September 2020 is selected as example to see how the files are read.

In [4]:
#A new column "Unnamed: 0" is created
df_OMIE_092020 = pd.read_csv(cab_det_path + 'OMIE_092020.csv')

In [5]:
df_OMIE_092020.head()

,Unnamed: 0,Bid_Code,Num_Version,Bid_Unit,Unit_Description,Sell_Buy,Pot_max,Year,Month,Day,Period,Block,Price,Energy
0,0,1696149,6,EDPC2,EDP COMERCIAL COMPRA (PORT),CNO,6000.0,2020,9,1,22,1,0.01,0.1
1,1,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,9,1,1,1,0.00,1.0
2,2,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,9,1,2,1,0.00,1.0
3,3,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,9,1,3,1,0.00,1.0
4,4,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,9,1,4,1,0.00,1.0

In [6]:
df_OMIE_092020.shape

(1478829, 14)

In [7]:
#Information from Sell/Buy distribution
df_OMIE_092020['Sell_Buy'].value_counts()

VNO    1072350
CNO     405759
VNP        720
Name: Sell_Buy, dtype: int64

In [8]:
#Information from Sell/Buy distribution
df_OMIE_092020[df_OMIE_092020['Sell_Buy']=='VNO']['Bid_Unit'].value_counts()

ACAVADO    12818
ADOURO     12686
EGEDRE1    10428
TEMON       8478
MUEL        8214
           ...
GNRVD39       16
EGVD217       16
GDNA          12
ENURE02        9
SAMPVD3        9
Name: Bid_Unit, Length: 1048, dtype: int64

In [9]:
#Example with PALOS1 for the whole set of data
unit = 'PALOS1'

df_OMIE_unit = pd.DataFrame()

for archive in cab_det_list: #Reading all the files in the local OMIE "datalake"
    df_OMIE_month = pd.read_csv(cab_det_path + archive) #Reding file
    df_OMIE_unit_month = df_OMIE_month.loc[df_OMIE_month['Bid_Unit'].str.startswith(unit)] #Selecting the unit
    df_OMIE_unit = pd.concat([df_OMIE_unit,df_OMIE_unit_month]) #Concatenate the monthly info

In [10]:
df_OMIE_unit.head()

,Unnamed: 0,Bid_Code,Num_Version,Bid_Unit,Unit_Description,Sell_Buy,Pot_max,Year,Month,Day,Period,Block,Price,Energy
26739,26739,6128191,2,PALOS1,C.C. PALOS 1,VNO,394.1,2020,1,1,1,12,180.30,394.1
26740,26740,6128191,2,PALOS1,C.C. PALOS 1,VNO,394.1,2020,1,1,2,12,180.30,394.1
26741,26741,6128191,2,PALOS1,C.C. PALOS 1,VNO,394.1,2020,1,1,3,1,1.13,50.0
26742,26742,6128191,2,PALOS1,C.C. PALOS 1,VNO,394.1,2020,1,1,3,12,180.30,344.1
26743,26743,6128191,2,PALOS1,C.C. PALOS 1,VNO,394.1,2020,1,1,4,1,1.13,60.0

In [11]:
type(df_OMIE_unit)

pandas.core.frame.DataFrame

In [12]:
df_OMIE_unit.shape

(71112, 14)

In [14]:
#Data from each year
df_OMIE_unit['Year'].value_counts()

2020    61045
2019    10067
Name: Year, dtype: int64

In [17]:
#Data from each month
df_OMIE_unit['Month'].value_counts()

12    6541
1     6519
10    6181
8     6169
7     6169
5     6169
3     6157
9     5970
6     5970
4     5970
2     5771
11    3526
Name: Month, dtype: int64

In [18]:
#Data from each day
df_OMIE_unit['Day'].value_counts()

25    2433
24    2426
22    2425
21    2425
1     2424
18    2424
4     2424
28    2424
27    2424
26    2424
3     2424
2     2424
23    2417
20    2415
29    2412
19    2370
5     2221
30    2214
9     2213
6     2213
7     2213
8     2213
16    2213
10    2213
11    2213
12    2213
13    2213
14    2213
15    2213
17    2213
31    1406
Name: Day, dtype: int64

Now, a function **"df_sel_unit"** is created. This function selects one unit by the begining of the "Bid_Unit" code from the OMIE .csv merged files locally stored by month. The function output is a dataframe with the selected info for the whole available period of time.

In [11]:
def df_sel_unit(unit):
    
    ### CHANGE PATH TO './RawData/OMIE/BIDS/CAB_DET_merged/' ###
    cab_det_path = '/home/dsc/Documents/TFM/Data/OMIE/CAB_DET/'
    cab_det_list = !ls -1 $cab_det_path
    
    df_OMIE_unit = pd.DataFrame()

    for archive in cab_det_list:
        df_OMIE_month = pd.read_csv(cab_det_path + archive)
        df_OMIE_unit_month = df_OMIE_month.loc[df_OMIE_month['Bid_Unit'].str.startswith(unit)]
        df_OMIE_unit = pd.concat([df_OMIE_unit,df_OMIE_unit_month])

    df_OMIE_unit = df_OMIE_unit.drop('Unnamed: 0',axis=1).reset_index(drop=True) #Dropping'Unnamed: 0' 
                                                                                 #and reseting the index column
    df_OMIE_unit['Bid_Unit'] = df_OMIE_unit['Bid_Unit'].str.strip() #Deleting spaces in 'Bid_Unit'
    df_OMIE_unit['Unit_Description'] = df_OMIE_unit['Unit_Description'].str.strip() #Deleting spaces 
                                                                                    #in 'Bid_Description'  
    
    return df_OMIE_unit

## 3. SELECTION OF UNITS

Now, different units will be selected and stored locally.

In [20]:
### CHANGE PATH TO './ProcessedData/UNITS_BIDS_Ext/' ###
output_path = '/home/dsc/Documents/TFM/Data/OMIE/'

### 3.1. COMBINED CYCLE UNITS

#### C.C. PALOS 1

In [21]:
df_PALOS1 = df_sel_unit('PALOS1')

In [22]:
df_PALOS1.head()

,Bid_Code,Num_Version,Bid_Unit,Unit_Description,Sell_Buy,Pot_max,Year,Month,Day,Period,Block,Price,Energy
0,6128191,2,PALOS1,C.C. PALOS 1,VNO,394.1,2020,1,1,1,12,180.30,394.1
1,6128191,2,PALOS1,C.C. PALOS 1,VNO,394.1,2020,1,1,2,12,180.30,394.1
2,6128191,2,PALOS1,C.C. PALOS 1,VNO,394.1,2020,1,1,3,1,1.13,50.0
3,6128191,2,PALOS1,C.C. PALOS 1,VNO,394.1,2020,1,1,3,12,180.30,344.1
4,6128191,2,PALOS1,C.C. PALOS 1,VNO,394.1,2020,1,1,4,1,1.13,60.0

In [23]:
df_PALOS1.shape

(71112, 13)

In [25]:
#Storing locally information from PALOS1 
df_PALOS1.to_csv(output_path + '/OMIE_PALOS1_112019_102020.csv')

In [24]:
df_PALOS1.describe()

,Bid_Code,Num_Version,Pot_max,Year,Month,Day,Period,Block,Price,Energy
count,7.111200e+04,71112.000000,7.111200e+04,71112.000000,71112.000000,71112.000000,71112.000000,71112.000000,71112.000000,71112.000000
mean,6.303431e+06,1.775157,3.941000e+02,2019.858435,6.362217,15.931404,15.879416,6.519223,52.564769,46.995838
std,1.431550e+05,0.865138,4.406533e-10,0.348606,3.433946,8.900143,5.272937,3.635035,48.738841,75.620040
min,6.049903e+06,1.000000,3.941000e+02,2019.000000,1.000000,1.000000,1.000000,1.000000,1.130000,3.000000
25%,6.176254e+06,1.000000,3.941000e+02,2020.000000,3.000000,8.000000,12.000000,3.000000,35.400000,17.000000
50%,6.300456e+06,2.000000,3.941000e+02,2020.000000,6.000000,16.000000,16.000000,6.000000,40.720000,17.000000
75%,6.427697e+06,2.000000,3.941000e+02,2020.000000,9.000000,24.000000,20.000000,10.000000,45.420000,17.000000
max,6.555573e+06,5.000000,3.941000e+02,2020.000000,12.000000,31.000000,25.000000,12.000000,180.300000,394.100000

Note that it is also possible to retreive information for diferent units at the same time. For example for PALOS 1, 2, and 3. This possibility could be useful to take information of sites with more than one unit.

In [31]:
#Using the funtion with "PALOS", to retreive information from PALOS1, 2, and 3.
df_PALOS = df_sel_unit('PALOS')

In [33]:
df_PALOS['Bid_Unit'].value_counts()

PALOS1    71112
PALOS3    70179
PALOS2    68034
Name: Bid_Unit, dtype: int64

#### C.C. PALOS 2

In [15]:
df_PALOS2 = df_sel_unit('PALOS2')

In [16]:
df_PALOS2.to_csv(output_path + 'OMIE_PALOS2_112019_102020.csv')

In [17]:
df_PALOS2.describe()

,Bid_Code,Num_Version,Pot_max,Year,Month,Day,Period,Block,Price,Energy
count,6.803400e+04,68034.000000,6.803400e+04,68034.000000,68034.000000,68034.000000,68034.000000,68034.000000,68034.000000,68034.000000
mean,6.311019e+06,1.753697,3.956000e+02,2019.880663,6.272614,16.079357,15.823162,6.577344,52.470102,48.146045
std,1.402696e+05,0.853485,3.973384e-10,0.324187,3.378788,8.842097,5.194277,3.631865,49.213918,75.452259
min,6.073909e+06,1.000000,3.956000e+02,2019.000000,1.000000,1.000000,1.000000,1.000000,1.130000,0.700000
25%,6.187944e+06,1.000000,3.956000e+02,2020.000000,3.000000,8.000000,12.000000,3.000000,34.120000,21.000000
50%,6.308806e+06,2.000000,3.956000e+02,2020.000000,6.000000,16.000000,16.000000,7.000000,39.920000,21.000000
75%,6.432962e+06,2.000000,3.956000e+02,2020.000000,9.000000,24.000000,20.000000,10.000000,45.070000,21.000000
max,6.555574e+06,5.000000,3.956000e+02,2020.000000,12.000000,31.000000,25.000000,12.000000,180.300000,395.600000

#### C.C. PALOS 3

In [24]:
df_PALOS3 = df_sel_unit('PALOS3')

In [25]:
df_PALOS3.to_csv(output_path + 'OMIE_PALOS3_112019_102020.csv')

In [26]:
df_PALOS3.describe()

,Bid_Code,Num_Version,Pot_max,Year,Month,Day,Period,Block,Price,Energy
count,7.017900e+04,70179.000000,7.017900e+04,70179.000000,70179.000000,70179.000000,70179.000000,70179.000000,70179.000000,70179.000000
mean,6.306647e+06,1.761182,3.978000e+02,2019.868964,6.308511,16.094658,15.898303,6.518260,52.205471,47.478203
std,1.413112e+05,0.845831,4.816377e-10,0.337443,3.412395,8.825258,5.267437,3.638984,48.851990,76.024861
min,6.071572e+06,1.000000,3.978000e+02,2019.000000,1.000000,1.000000,1.000000,1.000000,1.130000,4.000000
25%,6.181820e+06,1.000000,3.978000e+02,2020.000000,3.000000,8.000000,12.000000,3.000000,35.400000,17.000000
50%,6.303211e+06,2.000000,3.978000e+02,2020.000000,6.000000,16.000000,16.000000,6.000000,40.270000,17.000000
75%,6.428831e+06,2.000000,3.978000e+02,2020.000000,9.000000,24.000000,20.000000,10.000000,44.690000,17.000000
max,6.555575e+06,5.000000,3.978000e+02,2020.000000,12.000000,31.000000,25.000000,12.000000,180.300000,397.800000

#### C.C. SAGUNTO 1

In [13]:
df_SAGUNTO1 = df_sel_unit('SAGU1')

In [14]:
df_SAGUNTO1.to_csv(output_path + 'OMIE_SAGUNTO1_112019_102020.csv')

In [15]:
df_SAGUNTO1.describe()

,Bid_Code,Num_Version,Pot_max,Year,Month,Day,Period,Block,Price,Energy
count,7.005100e+04,70051.000000,7.005100e+04,70051.000000,70051.00000,70051.000000,70051.000000,70051.000000,70051.000000,70051.000000
mean,6.288767e+06,1.802330,4.173000e+02,2019.825270,6.42382,15.531613,15.788640,6.442906,51.608268,51.320317
std,1.443902e+05,0.912518,4.935181e-10,0.379739,3.48705,8.714490,5.271624,3.595803,49.827782,76.781146
min,6.049886e+06,1.000000,4.173000e+02,2019.000000,1.00000,1.000000,1.000000,1.000000,1.130000,1.000000
25%,6.161384e+06,1.000000,4.173000e+02,2020.000000,3.00000,8.000000,12.000000,3.000000,30.910000,23.000000
50%,6.283632e+06,2.000000,4.173000e+02,2020.000000,6.00000,15.000000,16.000000,6.000000,38.550000,23.000000
75%,6.413910e+06,2.000000,4.173000e+02,2020.000000,9.00000,23.000000,20.000000,10.000000,44.520000,23.000000
max,6.544756e+06,6.000000,4.173000e+02,2020.000000,12.00000,31.000000,24.000000,12.000000,180.300000,417.300000

#### C.C. SAGUNTO 2

In [11]:
df_SAGUNTO2 = df_sel_unit('SAGU2')

In [12]:
df_SAGUNTO2.to_csv(output_path + 'OMIE_SAGUNTO2_112019_102020.csv')

In [13]:
df_SAGUNTO2.describe()

,Bid_Code,Num_Version,Pot_max,Year,Month,Day,Period,Block,Price,Energy
count,6.829100e+04,68291.000000,6.829100e+04,68291.000000,68291.000000,68291.000000,68291.000000,68291.000000,68291.000000,68291.000000
mean,6.304810e+06,1.800662,4.196000e+02,2019.835308,6.661288,16.084433,15.386127,6.478863,49.555003,52.054461
std,1.479023e+05,0.922009,4.636752e-10,0.370905,3.379315,8.766260,5.276009,3.574855,50.555319,80.238143
min,6.049887e+06,1.000000,4.196000e+02,2019.000000,1.000000,1.000000,1.000000,1.000000,1.130000,1.000000
25%,6.167387e+06,1.000000,4.196000e+02,2020.000000,4.000000,9.000000,11.000000,3.000000,28.970000,23.000000
50%,6.306386e+06,2.000000,4.196000e+02,2020.000000,7.000000,16.000000,16.000000,6.000000,35.030000,23.000000
75%,6.434186e+06,2.000000,4.196000e+02,2020.000000,10.000000,24.000000,20.000000,10.000000,41.010000,23.000000
max,6.555582e+06,6.000000,4.196000e+02,2020.000000,12.000000,31.000000,25.000000,12.000000,180.300000,419.600000

#### C.C. CASTELNOU

In [18]:
df_CASTELNOU = df_sel_unit('CTNU')

In [19]:
df_CASTELNOU.to_csv(output_path + 'OMIE_CASTELNOU_112019_102020.csv')

In [20]:
df_CASTELNOU.describe()

,Bid_Code,Num_Version,Pot_max,Year,Month,Day,Period,Block,Price,Energy
count,1.634300e+04,16343.000000,1.634300e+04,16343.0,16343.000000,16343.000000,16343.000000,16343.000000,16343.000000,16343.000000
mean,6.458341e+06,0.203696,7.978000e+02,2020.0,8.251117,16.554427,15.487732,3.790247,37.380450,103.723325
std,5.652256e+04,0.559456,1.812224e-10,0.0,1.292670,8.746184,5.595016,2.117595,33.051896,133.192236
min,6.359428e+06,0.000000,7.978000e+02,2020.0,6.000000,1.000000,1.000000,1.000000,0.100000,8.000000
25%,6.408012e+06,0.000000,7.978000e+02,2020.0,7.000000,9.000000,11.000000,2.000000,22.500000,32.400000
50%,6.457709e+06,0.000000,7.978000e+02,2020.0,8.000000,17.000000,16.000000,4.000000,27.500000,49.300000
75%,6.506282e+06,0.000000,7.978000e+02,2020.0,9.000000,24.000000,20.000000,6.000000,30.000000,108.800000
max,6.556087e+06,5.000000,7.978000e+02,2020.0,10.000000,31.000000,25.000000,9.000000,180.000000,797.800000

#### C.C. ESCATRÓN 3

In [5]:
df_ESCATRON3 = df_sel_unit('ECT3')

In [6]:
df_ESCATRON3.to_csv(output_path + 'OMIE_ESCATRON3_112019_102020.csv')

In [7]:
df_ESCATRON3.describe()

,Bid_Code,Num_Version,Pot_max,Year,Month,Day,Period,Block,Price,Energy
count,1.685200e+04,16852.000000,16852.0,16852.000000,16852.000000,16852.000000,16852.000000,16852.000000,16852.000000,16852.000000
mean,6.307180e+06,1.871944,818.0,2019.837467,6.831415,15.815808,13.060468,1.650131,50.752314,375.673060
std,2.247963e+05,1.118509,0.0,0.368950,3.260986,8.949891,6.678113,0.682146,60.241992,242.395739
min,1.847230e+06,0.000000,818.0,2019.000000,1.000000,1.000000,1.000000,1.000000,0.010000,1.000000
25%,6.167592e+06,1.000000,818.0,2020.000000,4.000000,8.000000,8.000000,1.000000,0.010000,145.000000
50%,6.322599e+06,2.000000,818.0,2020.000000,7.000000,16.000000,13.000000,2.000000,36.440000,390.000000
75%,6.443298e+06,3.000000,818.0,2020.000000,10.000000,24.000000,19.000000,2.000000,65.300000,468.000000
max,6.557008e+06,5.000000,818.0,2020.000000,12.000000,31.000000,25.000000,4.000000,180.300000,818.000000

#### C.C. ALGECIRAS 3

In [8]:
df_ALGECIRAS3 = df_sel_unit('ALG3')

In [9]:
df_ALGECIRAS3.to_csv(output_path + 'OMIE_ALGECIRAS3_112019_102020.csv')

In [10]:
df_ALGECIRAS3.describe()

,Bid_Code,Num_Version,Pot_max,Year,Month,Day,Period,Block,Price,Energy
count,1.630500e+04,16305.000000,1.630500e+04,16305.000000,16305.000000,16305.000000,16305.000000,16305.000000,16305.000000,16305.000000
mean,6.319985e+06,1.830420,8.301000e+02,2019.917571,6.049985,15.537565,13.191782,1.654523,46.783579,356.560067
std,1.356915e+05,1.091218,2.367033e-10,0.275025,3.152918,8.597059,6.620900,0.697541,54.119732,248.370574
min,6.051653e+06,0.000000,8.301000e+02,2019.000000,1.000000,1.000000,1.000000,1.000000,0.010000,2.000000
25%,6.207249e+06,1.000000,8.301000e+02,2020.000000,3.000000,8.000000,8.000000,1.000000,0.010000,145.000000
50%,6.320966e+06,2.000000,8.301000e+02,2020.000000,6.000000,15.000000,13.000000,2.000000,36.300000,380.000000
75%,6.431758e+06,3.000000,8.301000e+02,2020.000000,9.000000,23.000000,19.000000,2.000000,64.300000,450.100000
max,6.557009e+06,5.000000,8.301000e+02,2020.000000,12.000000,31.000000,25.000000,4.000000,180.300000,830.100000

#### C.C. ARCOS 1

In [4]:
df_ARCOS1 = df_sel_unit('ARCOS1')

In [5]:
df_ARCOS1.to_csv(output_path + 'OMIE_ARCOS1_112019_102020.csv')

In [6]:
df_ARCOS1.describe()

,Bid_Code,Num_Version,Pot_max,Year,Month,Day,Period,Block,Price,Energy
count,2.964000e+04,29640.000000,2.964000e+04,29640.000000,29640.000000,29640.000000,29640.000000,29640.000000,29640.000000,29640.000000
mean,6.290862e+06,1.669872,3.956000e+02,2019.833367,6.370513,15.843185,14.606275,2.808806,62.868212,101.594750
std,1.372460e+05,0.911420,2.157813e-10,0.372654,3.383568,8.960593,6.085381,1.432484,52.739812,93.444838
min,6.062095e+06,0.000000,3.956000e+02,2019.000000,1.000000,1.000000,1.000000,1.000000,0.000000,2.500000
25%,6.165150e+06,1.000000,3.956000e+02,2020.000000,4.000000,8.000000,10.000000,1.000000,36.240000,34.400000
50%,6.296748e+06,1.000000,3.956000e+02,2020.000000,6.000000,16.000000,15.000000,3.000000,47.425000,67.800000
75%,6.415786e+06,2.000000,3.956000e+02,2020.000000,9.000000,24.000000,20.000000,4.000000,66.050000,156.000000
max,6.555360e+06,5.000000,3.956000e+02,2020.000000,12.000000,31.000000,24.000000,5.000000,150.300000,395.600000

#### C.C. ARCOS 2

In [5]:
df_ARCOS2 = df_sel_unit('ARCOS2')

In [6]:
df_ARCOS2.to_csv(output_path + 'OMIE_ARCOS2_112019_102020.csv')

In [7]:
df_ARCOS2.describe()

,Bid_Code,Num_Version,Pot_max,Year,Month,Day,Period,Block,Price,Energy
count,2.784000e+04,27840.000000,2.784000e+04,27840.000000,27840.000000,27840.000000,27840.000000,27840.000000,27840.000000,27840.000000
mean,6.319570e+06,1.700036,3.794000e+02,2019.878412,6.517385,15.436961,14.696049,2.671300,59.986223,105.483966
std,1.407936e+05,0.874790,1.984439e-10,0.326815,3.192111,8.714430,5.974838,1.376697,53.874166,92.710079
min,6.050105e+06,0.000000,3.794000e+02,2019.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.600000
25%,6.205694e+06,1.000000,3.794000e+02,2020.000000,4.000000,8.000000,10.000000,1.000000,34.490000,37.300000
50%,6.331062e+06,1.000000,3.794000e+02,2020.000000,7.000000,15.000000,15.000000,3.000000,46.230000,69.400000
75%,6.438069e+06,2.000000,3.794000e+02,2020.000000,9.000000,23.000000,20.000000,4.000000,61.200000,156.400000
max,6.555361e+06,5.000000,3.794000e+02,2020.000000,12.000000,31.000000,25.000000,6.000000,159.300000,379.400000

#### C.C. ARCOS 3

In [8]:
df_ARCOS3 = df_sel_unit('ARCOS3')

In [9]:
df_ARCOS3.to_csv(output_path + 'OMIE_ARCOS3_112019_102020.csv')

In [10]:
df_ARCOS3.describe()

,Bid_Code,Num_Version,Pot_max,Year,Month,Day,Period,Block,Price,Energy
count,3.397400e+04,33974.000000,3.397400e+04,33974.000000,33974.000000,33974.000000,33974.000000,33974.000000,33974.000000,33974.000000
mean,6.302730e+06,1.703155,8.229000e+02,2019.833785,6.629099,16.014835,13.254106,2.680874,52.925021,189.845161
std,1.496160e+05,0.869952,4.381555e-10,0.372279,3.468260,8.788096,6.674954,1.313960,49.824321,158.557312
min,6.050106e+06,0.000000,8.229000e+02,2019.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.100000
25%,6.165152e+06,1.000000,8.229000e+02,2020.000000,4.000000,8.000000,8.000000,2.000000,26.840000,88.000000
50%,6.303308e+06,1.000000,8.229000e+02,2020.000000,7.000000,16.000000,14.000000,3.000000,39.485000,149.200000
75%,6.434218e+06,2.000000,8.229000e+02,2020.000000,10.000000,24.000000,19.000000,4.000000,59.310000,254.900000
max,6.555362e+06,5.000000,8.229000e+02,2020.000000,12.000000,31.000000,25.000000,6.000000,155.700000,822.900000

#### C.C. COLÓN 4

In [10]:
df_COLON4 = df_sel_unit('COL4')

In [11]:
df_COLON4.to_csv(output_path + 'OMIE_COLON4_112019_102020.csv')

In [12]:
df_COLON4.describe()

,Bid_Code,Num_Version,Pot_max,Year,Month,Day,Period,Block,Price,Energy
count,1.995800e+04,19958.000000,19958.0,19958.000000,19958.000000,19958.000000,19958.000000,19958.000000,19958.000000,19958.000000
mean,6.302252e+06,2.988075,392.0,2019.869777,6.224672,15.163343,14.089538,1.861459,66.612089,161.191061
std,1.382106e+05,1.598578,0.0,0.336558,3.361834,8.747118,6.285857,0.815307,67.985325,97.849555
min,6.049999e+06,1.000000,392.0,2019.000000,1.000000,1.000000,1.000000,1.000000,0.000000,2.000000
25%,6.184246e+06,2.000000,392.0,2020.000000,3.000000,8.000000,9.000000,1.000000,0.000000,82.000000
50%,6.300670e+06,3.000000,392.0,2020.000000,6.000000,15.000000,14.000000,2.000000,27.110000,135.000000
75%,6.419440e+06,4.000000,392.0,2020.000000,9.000000,23.000000,19.000000,3.000000,150.020000,185.000000
max,6.553059e+06,9.000000,392.0,2020.000000,12.000000,31.000000,24.000000,3.000000,150.020000,392.000000

### 3.2. HYDRAULIC UNITS

#### C.H. AGUAYO - GENERATION

In [29]:
df_AGUAYO_GEN = df_sel_unit('AGUG')

In [30]:
df_AGUAYO_GEN.shape

(42831, 13)

In [31]:
df_AGUAYO_GEN.head()

,Bid_Code,Num_Version,Bid_Unit,Unit_Description,Sell_Buy,Pot_max,Year,Month,Day,Period,Block,Price,Energy
0,6129555,1,AGUG,C.H. AGUAYO GENERACION,VNO,360.6,2020,1,1,1,1,30.0,80.0
1,6129555,1,AGUG,C.H. AGUAYO GENERACION,VNO,360.6,2020,1,1,1,2,48.0,80.0
2,6129555,1,AGUG,C.H. AGUAYO GENERACION,VNO,360.6,2020,1,1,1,3,52.0,80.0
3,6129555,1,AGUG,C.H. AGUAYO GENERACION,VNO,360.6,2020,1,1,1,4,56.0,80.0
4,6129555,1,AGUG,C.H. AGUAYO GENERACION,VNO,360.6,2020,1,1,1,5,180.3,40.6

In [32]:
df_AGUAYO_GEN.describe()

,Bid_Code,Num_Version,Pot_max,Year,Month,Day,Period,Block,Price,Energy
count,4.283100e+04,42831.000000,4.283100e+04,42831.000000,42831.000000,42831.000000,42831.000000,42831.000000,42831.000000,42831.000000
mean,6.295875e+06,1.858630,3.606000e+02,2019.830590,6.511078,15.719689,12.489505,2.951951,67.435731,71.510016
std,1.466073e+05,1.111704,2.535246e-10,0.375118,3.450780,8.778838,6.925643,1.398050,53.262971,20.507271
min,6.051654e+06,0.000000,3.606000e+02,2019.000000,1.000000,1.000000,1.000000,1.000000,2.200000,0.600000
25%,6.168916e+06,1.000000,3.606000e+02,2020.000000,4.000000,8.000000,6.000000,2.000000,36.000000,60.600000
50%,6.291789e+06,2.000000,3.606000e+02,2020.000000,6.000000,16.000000,12.000000,3.000000,48.000000,80.000000
75%,6.421067e+06,3.000000,3.606000e+02,2020.000000,10.000000,23.000000,18.000000,4.000000,61.000000,80.000000
max,6.557010e+06,5.000000,3.606000e+02,2020.000000,12.000000,31.000000,25.000000,5.000000,180.300000,220.000000

In [57]:
#Storing info locally
df_AGUAYO_GEN.to_csv(output_path + 'OMIE_AGUAYO_GEN_112019_102020.csv')

#### C.H. LA MUELA

In [34]:
df_MUELA = df_sel_unit('MUEL')

In [35]:
df_MUELA.head()

,Bid_Code,Num_Version,Bid_Unit,Unit_Description,Sell_Buy,Pot_max,Year,Month,Day,Period,Block,Price,Energy
0,6128223,1,MUEL,C.H. LA MUELA TURBINACION,VNO,1506.2,2020,1,1,1,1,43.00,100.0
1,6128223,1,MUEL,C.H. LA MUELA TURBINACION,VNO,1506.2,2020,1,1,1,2,43.58,100.0
2,6128223,1,MUEL,C.H. LA MUELA TURBINACION,VNO,1506.2,2020,1,1,1,3,44.30,100.0
3,6128223,1,MUEL,C.H. LA MUELA TURBINACION,VNO,1506.2,2020,1,1,1,4,44.88,100.0
4,6128223,1,MUEL,C.H. LA MUELA TURBINACION,VNO,1506.2,2020,1,1,1,5,45.60,100.0

In [7]:
df_MUELA.describe()

,Bid_Code,Num_Version,Pot_max,Year,Month,Day,Period,Block,Price,Energy
count,1.190680e+05,119068.000000,1.190680e+05,119068.000000,119068.000000,119068.000000,119068.000000,119068.000000,119068.000000,119068.000000
mean,6.283446e+06,1.651023,1.506200e+03,2019.818037,6.379136,15.689236,12.521290,7.427806,52.626695,100.195870
std,1.449412e+05,0.849987,1.424957e-09,0.385816,3.550877,8.758828,6.934197,4.119922,32.040705,10.878357
min,6.050090e+06,0.000000,1.506200e+03,2019.000000,1.000000,1.000000,1.000000,1.000000,3.420000,67.900000
25%,6.156994e+06,1.000000,1.506200e+03,2020.000000,3.000000,8.000000,6.000000,4.000000,37.200000,100.000000
50%,6.274190e+06,1.000000,1.506200e+03,2020.000000,6.000000,16.000000,13.000000,7.000000,45.700000,100.000000
75%,6.407478e+06,2.000000,1.506200e+03,2020.000000,10.000000,23.000000,19.000000,11.000000,54.580000,100.000000
max,6.555346e+06,5.000000,1.506200e+03,2020.000000,12.000000,31.000000,25.000000,15.000000,160.000000,1096.700000

In [9]:
#Storing info locally
df_MUELA.to_csv(output_path + 'OMIE_MUELA_112019_102020.csv')

#### C.H. TAJO ENCANTADA - GENERATION

In [36]:
df_TAJOENCANT = df_sel_unit('TJEG')

In [37]:
df_TAJOENCANT.head()

,Bid_Code,Num_Version,Bid_Unit,Unit_Description,Sell_Buy,Pot_max,Year,Month,Day,Period,Block,Price,Energy
0,6128022,1,TJEG,C.H. TAJO ENCANTADA GENERACION,VNO,360.0,2020,1,1,9,1,41.37,90.0
1,6128022,1,TJEG,C.H. TAJO ENCANTADA GENERACION,VNO,360.0,2020,1,1,9,2,45.87,90.0
2,6128022,1,TJEG,C.H. TAJO ENCANTADA GENERACION,VNO,360.0,2020,1,1,9,3,46.75,90.0
3,6128022,1,TJEG,C.H. TAJO ENCANTADA GENERACION,VNO,360.0,2020,1,1,10,1,41.37,90.0
4,6128022,1,TJEG,C.H. TAJO ENCANTADA GENERACION,VNO,360.0,2020,1,1,10,2,45.87,90.0

In [44]:
df_TAJOENCANT.describe()

,Bid_Code,Num_Version,Pot_max,Year,Month,Day,Period,Block,Price,Energy
count,1.150400e+04,11504.000000,11504.0,11504.000000,11504.000000,11504.000000,11504.000000,11504.000000,11504.000000,11504.000000
mean,6.324261e+06,3.081711,360.0,2019.871001,6.700278,15.940455,16.140560,1.830059,41.182554,91.157858
std,1.417247e+05,1.587495,0.0,0.335213,3.158902,8.799308,5.097585,0.878460,11.886770,14.966355
min,6.049972e+06,0.000000,360.0,2019.000000,1.000000,1.000000,1.000000,1.000000,9.210000,90.000000
25%,6.221355e+06,2.000000,360.0,2020.000000,4.000000,9.000000,12.000000,1.000000,32.370000,90.000000
50%,6.317035e+06,3.000000,360.0,2020.000000,7.000000,16.000000,16.000000,2.000000,43.820000,90.000000
75%,6.444511e+06,4.000000,360.0,2020.000000,9.000000,23.000000,21.000000,2.000000,50.100000,90.000000
max,6.555507e+06,10.000000,360.0,2020.000000,12.000000,31.000000,25.000000,4.000000,69.200000,360.000000

In [43]:
df_TAJOENCANT.to_csv(output_path + 'OMIE_TAJOENCANT_112019_102020.csv')

#### C.H. MORALETS - GENERATION

In [12]:
df_MORALETS = df_sel_unit('MLTG')

In [13]:
df_MORALETS.head()

,Bid_Code,Num_Version,Bid_Unit,Unit_Description,Sell_Buy,Pot_max,Year,Month,Day,Period,Block,Price,Energy
0,6128020,1,MLTG,C.H. MORALETS GENERACION,VNO,221.4,2020,1,1,9,1,40.40,65.0
1,6128020,1,MLTG,C.H. MORALETS GENERACION,VNO,221.4,2020,1,1,9,2,40.82,65.0
2,6128020,1,MLTG,C.H. MORALETS GENERACION,VNO,221.4,2020,1,1,10,1,40.40,65.0
3,6128020,1,MLTG,C.H. MORALETS GENERACION,VNO,221.4,2020,1,1,10,2,40.82,65.0
4,6128020,1,MLTG,C.H. MORALETS GENERACION,VNO,221.4,2020,1,1,11,1,40.40,65.0

In [5]:
df_MORALETS.to_csv(output_path + 'OMIE_MORALETS_112019_102020.csv')

In [14]:
df_MORALETS.describe()

,Bid_Code,Num_Version,Pot_max,Year,Month,Day,Period,Block,Price,Energy
count,1.452400e+04,14524.000000,1.452400e+04,14524.000000,14524.000000,14524.000000,14524.000000,14524.000000,14524.000000,14524.000000
mean,6.289912e+06,2.973079,2.214000e+02,2019.847287,6.175434,15.937414,15.617943,1.774993,40.638704,67.224250
std,1.424076e+05,1.520193,5.738541e-11,0.359723,3.462004,8.885805,5.414010,0.750619,12.337411,14.101472
min,6.049971e+06,1.000000,2.214000e+02,2019.000000,1.000000,1.000000,1.000000,1.000000,10.000000,30.000000
25%,6.167504e+06,2.000000,2.214000e+02,2020.000000,3.000000,8.000000,11.000000,1.000000,31.395000,65.000000
50%,6.285009e+06,3.000000,2.214000e+02,2020.000000,6.000000,16.000000,16.000000,2.000000,42.000000,65.000000
75%,6.401688e+06,4.000000,2.214000e+02,2020.000000,9.000000,24.000000,20.000000,2.000000,49.000000,65.000000
max,6.555505e+06,10.000000,2.214000e+02,2020.000000,12.000000,31.000000,25.000000,3.000000,68.840000,195.000000

#### C.H. SIL

In [46]:
df_SIL = df_sel_unit('SIL')

In [47]:
df_SIL.to_csv(output_path + 'OMIE_SIL_112019_102020.csv')

In [48]:
df_SIL.describe()

,Bid_Code,Num_Version,Pot_max,Year,Month,Day,Period,Block,Price,Energy
count,9.862700e+04,98627.000000,98627.000000,98627.000000,98627.000000,98627.000000,98627.000000,98627.000000,98627.000000,98627.000000
mean,6.286401e+06,1.639298,1164.070681,2019.818944,6.432224,15.927718,12.209121,4.121549,49.925527,116.654335
std,1.424229e+05,0.903856,486.150561,0.385066,3.390413,8.832101,6.949460,2.640125,38.980637,150.177536
min,6.045107e+06,0.000000,0.400000,2019.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.100000
25%,6.165141e+06,1.000000,412.000000,2020.000000,4.000000,8.000000,6.000000,2.000000,25.300000,68.000000
50%,6.286200e+06,1.000000,1477.700000,2020.000000,6.000000,16.000000,12.000000,3.000000,42.130000,72.000000
75%,6.397545e+06,2.000000,1477.700000,2020.000000,10.000000,24.000000,18.000000,6.000000,58.920000,78.000000
max,6.555351e+06,5.000000,1477.700000,2020.000000,12.000000,31.000000,25.000000,11.000000,160.000000,1166.300000

### 3.3. NUCLEAR UNITS

#### C.N. COFRENTES

In [10]:
df_COFRENTES = df_sel_unit('COF1')

In [11]:
df_COFRENTES.describe()

,Bid_Code,Num_Version,Pot_max,Year,Month,Day,Period,Block,Price,Energy
count,2.406000e+03,2406.000000,2.406000e+03,2406.000000,2406.000000,2406.000000,2406.000000,2406.000000,2406.000000,2406.000000
mean,6.262491e+06,1.614713,1.063900e+03,2019.887781,5.133001,14.395262,11.040732,1.169992,59.117240,510.020324
std,7.961576e+04,0.852985,4.844066e-11,0.315702,2.803876,8.703599,7.484037,0.375704,81.395415,345.219868
min,6.050098e+06,0.000000,1.063900e+03,2019.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.100000
25%,6.237036e+06,1.000000,1.063900e+03,2020.000000,4.000000,7.000000,4.000000,1.000000,0.000000,342.900000
50%,6.261034e+06,1.000000,1.063900e+03,2020.000000,4.000000,13.000000,11.000000,1.000000,0.000000,351.900000
75%,6.298934e+06,2.000000,1.063900e+03,2020.000000,5.000000,22.000000,18.000000,1.000000,180.300000,719.750000
max,6.555354e+06,5.000000,1.063900e+03,2020.000000,12.000000,31.000000,24.000000,2.000000,180.300000,1063.900000

In [12]:
#Storing info locally
df_COFRENTES.to_csv(output_path + 'OMIE_COFRENTES_112019_102020.csv')

### 3.4. COAL UNITS

#### C.N. LITORAL

In [12]:
df_LITORAL1 = df_sel_unit('LIT1')

In [13]:
df_LITORAL1.describe()

,Bid_Code,Num_Version,Pot_max,Year,Month,Day,Period,Block,Price,Energy
count,2.340100e+04,23401.000000,23401.0,23401.000000,23401.000000,23401.000000,23401.000000,23401.000000,23401.000000,23401.000000
mean,6.303916e+06,3.014187,557.5,2019.869877,6.227811,16.078629,15.367335,2.217768,59.030859,196.793351
std,1.441094e+05,1.570934,0.0,0.336446,3.324543,8.902836,5.940842,1.123910,38.638937,155.619108
min,6.049988e+06,1.000000,557.5,2019.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000
25%,6.180643e+06,2.000000,557.5,2020.000000,3.000000,8.000000,12.000000,1.000000,0.000000,150.000000
50%,6.303272e+06,3.000000,557.5,2020.000000,6.000000,16.000000,16.000000,2.000000,66.360000,187.000000
75%,6.427675e+06,4.000000,557.5,2020.000000,9.000000,24.000000,20.000000,3.000000,99.010000,187.000000
max,6.555520e+06,10.000000,557.5,2020.000000,12.000000,31.000000,25.000000,4.000000,99.030000,557.500000

In [14]:
#Storing info locally
df_LITORAL1.to_csv(output_path + 'OMIE_LITORAL1_112019_102020.csv')

### 3.5. SOLAR UNITS

#### C.S. MULA

In [58]:
df_MULA = df_sel_unit('IGNVD13')

In [59]:
df_MULA.to_csv(output_path + 'OMIE_MULA_112019_102020.csv')

In [60]:
df_MULA.describe()

,Bid_Code,Num_Version,Pot_max,Year,Month,Day,Period,Block,Price,Energy
count,4.629000e+03,4629.000000,4.629000e+03,4629.000000,4629.000000,4629.000000,4629.000000,4629.0,4629.000000,4629.000000
mean,6.309158e+06,0.054871,4.937000e+02,2019.864118,6.478937,15.797797,14.268525,1.0,1.024701,171.141521
std,1.437905e+05,0.262156,1.483774e-11,0.342701,3.227515,8.834290,3.824116,0.0,12.982118,125.283636
min,5.899780e+06,0.000000,4.937000e+02,2019.000000,1.000000,1.000000,1.000000,1.0,0.000000,0.100000
25%,6.193033e+06,0.000000,4.937000e+02,2020.000000,4.000000,8.000000,11.000000,1.0,0.000000,48.400000
50%,6.317803e+06,0.000000,4.937000e+02,2020.000000,6.000000,16.000000,14.000000,1.0,0.000000,161.800000
75%,6.427317e+06,0.000000,4.937000e+02,2020.000000,9.000000,23.000000,17.000000,1.0,0.000000,291.100000
max,6.557186e+06,2.000000,4.937000e+02,2020.000000,12.000000,31.000000,24.000000,1.0,180.000000,402.000000

In [61]:
df_MULA.head()

,Bid_Code,Num_Version,Bid_Unit,Unit_Description,Sell_Buy,Pot_max,Year,Month,Day,Period,Block,Price,Energy
0,6129101,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,1,1,9,1,0.0,9.5
1,6129101,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,1,1,10,1,0.0,89.1
2,6129101,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,1,1,11,1,0.0,221.3
3,6129101,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,1,1,12,1,0.0,300.1
4,6129101,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,1,1,13,1,0.0,317.8

In [63]:
#Checking the bid behaviour in the first 2 days of January
df_MULA[df_MULA['Day'].isin(range(1,3))&(df_MULA['Month']==1)&(df_MULA['Year']==2020)]

,Bid_Code,Num_Version,Bid_Unit,Unit_Description,Sell_Buy,Pot_max,Year,Month,Day,Period,Block,Price,Energy
0,6129101,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,1,1,9,1,0.0,9.5
1,6129101,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,1,1,10,1,0.0,89.1
2,6129101,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,1,1,11,1,0.0,221.3
3,6129101,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,1,1,12,1,0.0,300.1
4,6129101,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,1,1,13,1,0.0,317.8
5,6129101,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,1,1,14,1,0.0,314.7
6,6129101,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,1,1,15,1,0.0,278.1
7,6129101,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,1,1,16,1,0.0,198.7
8,6129101,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,1,1,17,1,0.0,96.0
9,6129101,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,1,1,18,1,0.0,12.5
10,6130535,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,1,2,9,1,0.0,7.1
11,6130535,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,1,2,10,1,0.0,72.0
12,6130535,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,1,2,11,1,0.0,172.0
13,6130535,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,1,2,12,1,0.0,254.1
14,6130535,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,1,2,13,1,0.0,317.8
15,6130535,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,1,2,14,1,0.0,314.7
16,6130535,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,1,2,15,1,0.0,278.1
17,6130535,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,1,2,16,1,0.0,198.7
18,6130535,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,1,2,17,1,0.0,96.0
19,6130535,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,1,2,18,1,0.0,12.5

In [64]:
#Checking the bid behaviour in the first 2 days of August
df_MULA[df_MULA['Day'].isin(range(1,3))&(df_MULA['Month']==8)&(df_MULA['Year']==2020)]

,Bid_Code,Num_Version,Bid_Unit,Unit_Description,Sell_Buy,Pot_max,Year,Month,Day,Period,Block,Price,Energy
2792,6425872,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,8,1,8,1,0.0,4.9
2793,6425872,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,8,1,9,1,0.0,42.7
2794,6425872,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,8,1,10,1,0.0,124.3
2795,6425872,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,8,1,11,1,0.0,211.1
2796,6425872,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,8,1,12,1,0.0,282.6
2797,6425872,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,8,1,13,1,0.0,334.6
2798,6425872,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,8,1,14,1,0.0,356.3
2799,6425872,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,8,1,15,1,0.0,323.2
2800,6425872,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,8,1,16,1,0.0,292.7
2801,6425872,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,8,1,17,1,0.0,248.5
2802,6425872,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,8,1,18,1,0.0,196.0
2803,6425872,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,8,1,19,1,0.0,131.5
2804,6425872,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,8,1,20,1,0.0,62.8
2805,6425872,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,8,1,21,1,0.0,14.8
2806,6425872,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,8,1,22,1,0.0,0.5
2807,6427317,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,8,2,8,1,0.0,5.5
2808,6427317,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,8,2,9,1,0.0,44.8
2809,6427317,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,8,2,10,1,0.0,126.9
2810,6427317,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,8,2,11,1,0.0,215.5
2811,6427317,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,8,2,12,1,0.0,288.2
2812,6427317,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,8,2,13,1,0.0,338.1
2813,6427317,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,8,2,14,1,0.0,353.9
2814,6427317,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,8,2,15,1,0.0,349.5
2815,6427317,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,8,2,16,1,0.0,345.9
2816,6427317,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,8,2,17,1,0.0,314.2
2817,6427317,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,8,2,18,1,0.0,249.1
2818,6427317,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,8,2,19,1,0.0,162.0
2819,6427317,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,8,2,20,1,0.0,70.3
2820,6427317,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,8,2,21,1,0.0,14.5
2821,6427317,0,IGNVD13,SOLAR MULA,VNO,493.7,2020,8,2,22,1,0.0,0.2

### 3.6. BIOMASS UNITS

#### BIOMASS ENCE PUERTOLLANO 1

In [28]:
df_ENCEPU1 = df_sel_unit('ENEVD15')

In [29]:
df_ENCEPU1.to_csv(output_path + 'OMIE_ENCEPU1_112019_102020.csv')

In [30]:
df_ENCEPU1.describe()

,Bid_Code,Num_Version,Pot_max,Year,Month,Day,Period,Block,Price,Energy
count,5.690000e+03,5690.000000,5690.0,5690.0,5690.000000,5690.000000,5690.000000,5690.0,5690.000000,5690.000000
mean,6.367855e+06,2.206151,50.0,2020.0,6.223726,15.719332,12.515290,1.0,0.035325,35.704042
std,1.069963e+05,1.515792,0.0,0.0,2.497747,8.822110,6.910334,0.0,1.874696,3.185292
min,6.128967e+06,0.000000,50.0,2020.0,1.000000,1.000000,1.000000,1.0,0.000000,0.100000
25%,6.282929e+06,1.000000,50.0,2020.0,4.000000,8.000000,7.000000,1.0,0.000000,34.000000
50%,6.372124e+06,2.000000,50.0,2020.0,6.000000,16.000000,13.000000,1.0,0.000000,37.000000
75%,6.457459e+06,3.000000,50.0,2020.0,8.000000,23.000000,18.000000,1.0,0.000000,37.000000
max,6.547234e+06,6.000000,50.0,2020.0,10.000000,31.000000,24.000000,1.0,100.000000,42.000000

In [31]:
#Checking if prices different to 0 are outliers
df_ENCEPU1[df_ENCEPU1['Price']==df_ENCEPU1['Price'].max()]

,Bid_Code,Num_Version,Bid_Unit,Unit_Description,Sell_Buy,Pot_max,Year,Month,Day,Period,Block,Price,Energy
0,6128967,0,ENEVD15,ENCE ENERGIA PUERTOLLANO,VNO,50.0,2020,1,1,8,1,100.0,0.1
1,6128968,0,ENEVD15,ENCE ENERGIA PUERTOLLANO,VNO,50.0,2020,1,2,8,1,100.0,0.1

#### BIOMASS ENCE HUELVA

In [49]:
df_ENCEHUELVA = df_sel_unit('ENEVD14')

In [50]:
df_ENCEHUELVA.to_csv(output_path + 'OMIE_ENCEHUELVA_112019_102020.csv')

In [51]:
df_ENCEHUELVA.describe()

,Bid_Code,Num_Version,Pot_max,Year,Month,Day,Period,Block,Price,Energy
count,5.900000e+03,5900.000000,5900.0,5900.000000,5900.000000,5900.000000,5900.000000,5900.0,5900.000000,5900.000000
mean,6.353760e+06,2.637458,46.0,2019.973559,6.374576,15.851356,12.566102,1.0,0.979661,35.052458
std,1.280467e+05,1.280172,0.0,0.160455,2.688249,8.583491,6.872969,0.0,8.818464,6.163209
min,6.050518e+06,0.000000,46.0,2019.000000,1.000000,1.000000,1.000000,1.0,0.000000,0.100000
25%,6.264416e+06,2.000000,46.0,2020.000000,4.000000,9.000000,7.000000,1.0,0.000000,34.000000
50%,6.357656e+06,3.000000,46.0,2020.000000,6.000000,16.000000,13.000000,1.0,0.000000,37.000000
75%,6.464184e+06,3.000000,46.0,2020.000000,9.000000,23.000000,18.000000,1.0,0.000000,38.000000
max,6.557228e+06,6.000000,46.0,2020.000000,12.000000,31.000000,24.000000,1.0,100.000000,40.500000

#### BIOMASS CUBILLOS DEL SIL

In [37]:
df_CUBILLOSSIL = df_sel_unit('NXVD147')

In [38]:
df_CUBILLOSSIL.to_csv(output_path + 'OMIE_CUBILLOSSIL_112019_102020.csv')

In [39]:
df_CUBILLOSSIL.describe()

,Bid_Code,Num_Version,Pot_max,Year,Month,Day,Period,Block,Price,Energy
count,3.048000e+03,3048.000000,3048.0,3048.0,3048.000000,3048.000000,3048.000000,3048.0,3048.0,3048.000000
mean,6.406855e+06,0.154199,49.5,2020.0,7.102034,15.616142,12.553806,1.0,0.0,40.686680
std,8.566262e+04,0.421574,0.0,0.0,1.930807,8.816342,6.916758,0.0,0.0,7.993973
min,6.220995e+06,0.000000,49.5,2020.0,3.000000,1.000000,1.000000,1.0,0.0,5.000000
25%,6.333286e+06,0.000000,49.5,2020.0,5.000000,9.000000,7.000000,1.0,0.0,35.000000
50%,6.391420e+06,0.000000,49.5,2020.0,7.000000,15.000000,13.000000,1.0,0.0,46.000000
75%,6.497657e+06,0.000000,49.5,2020.0,9.000000,24.000000,19.000000,1.0,0.0,46.000000
max,6.553273e+06,3.000000,49.5,2020.0,10.000000,31.000000,24.000000,1.0,0.0,49.500000